node_modules/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.test
.env.production

*.log
npm-debug.log*

.DS_Store
Thumbs.db

.vscode/

/dist
/tmp
/out-tsc

jspm_packages/

.npm

.eslintcache

*.tgz

.serverless/
