body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.layout-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.map-container {
    flex-grow: 3; 
    display: flex;
    flex-direction: column;
}

#map {
    flex-grow: 1;
    height: 100vh;
    background-color: #262626;
}

#resetZoomBtn {
    position: absolute;
    top: 77%;
    left: 49%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 5px 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.checkboxes-container {
    position: fixed;
    bottom: 30px;
    left: 49%;
    transform: translate(-50%);
    width: auto;
    padding: 7px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1001;
    border: 1px solid #ddd;
}




.checkbox-group {
    display: flex;
    align-items: center;  /* Ensures vertical alignment is centered */
    justify-content: space-between;  /* Maximizes space between elements */
    width: 100%;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
}

.label-text {
    flex: 1;  /* Allows the label text to take up the remaining space */
    font-size: 16px;  /* Increases the font size */
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}


.counter {
    width: 40px;  /* Fixed width for all counters */
    text-align: center;  /* Centers text within the counter */
}

.checkbox-group input[type="checkbox"] {
    width: 18px;  /* Set the width of the checkbox */
    height: 18px;  /* Set the height of the checkbox */
    cursor: pointer;  /* Changes the cursor to a pointer when hovering over the checkbox */
}

.checkbox-group:last-child {
    border-bottom: none;  /* Removes the border from the last checkbox group */
}




#liveStatus {
    position: absolute;
    top: 17px;
    right: 17px;
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: #121212;
    color: #fff;
    padding: 6px 10px;
    border-radius: 15px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styled red dot with pulsating animation */
#liveStatus span {
    width: 7px;
    height: 7px;
    background-color: #FF3B3B;
    border-radius: 50%;
    margin-right: 6px;
    box-shadow: 0 0 5px rgba(255, 59, 59, 0.9);
    animation: pulse 2s infinite;
}

/* Pulsating animation for the red dot */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


#github-star-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    z-index: 1001;
}

.github-button {
    background-color: rgba(0,0,0,0.5); 
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    text-decoration: none;
}

@media (max-width: 768px) {

    .map-container {
        height: 100vh;
    }

    #github-star-btn {
        position: fixed;
    }

    .checkbox-group {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .checkbox-group label {
        margin-right: 0;
        margin-left: 10px;
    }
}


.counter {
    display: inline-block; /* Ensures that width and text-align properties are respected */
    min-width: 30px; /* Adjust as necessary to fit the widest expected number */
    text-align: center; /* Centers the text within the counter */
    margin-left: auto; /* Keeps pushing the counter to the right */
    padding-left: 10px; /* Ensures space between label text and counter */
    color: #100;  /* Ensures good text visibility; adjust color as needed */
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

