body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.layout-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.map-container {
    flex-grow: 3; 
    display: flex;
    flex-direction: column;
}

#map {
    flex-grow: 1;
    height: 100vh;
    background-color: #262626;
}

#resetZoomBtn {
    position: absolute;
    top: 80%;
    left: 49%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 5px 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.checkboxes-container {
    position: fixed; /* Makes the container fixed at a spot */
    bottom: 20px; /* Adjust as needed */
    left: 50%; /* Center horizontally */
    transform: translate(-50%); /* Adjusts for true centering */
    width: auto; /* Adjust based on content, or set a specific width */
    padding: 10px;
    background-color: #f8f8f8; /* Light background for visibility */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow for depth */
    z-index: 1001;
    border: 1px solid #ddd; /* Subtle border */
}

.checkbox-group {
    white-space: nowrap; /* Prevents the label from wrapping */
    margin-bottom: 5px; /* Spacing between checkbox items */
}

.checkbox-group label {
    margin-left: 5px; /* Spacing between checkbox and label */
}

#liveStatus {
    position: absolute;
    top: 17px;
    right: 17px;
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: #121212;
    color: #fff;
    padding: 6px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styled red dot with pulsating animation */
#liveStatus span {
    width: 6px;
    height: 6px;
    background-color: #FF3B3B;
    border-radius: 50%;
    margin-right: 6px;
    box-shadow: 0 0 5px rgba(255, 59, 59, 0.9);
    animation: pulse 2s infinite;
}

/* Pulsating animation for the red dot */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


#github-star-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    z-index: 1001;
}

.github-button {
    background-color: rgba(0,0,0,0.5); 
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    text-decoration: none;
}

@media (max-width: 768px) {

    .map-container {
        height: 100vh; /* Or any other appropriate height */
    }

    #github-star-btn {
        position: fixed;
    }

    .checkbox-group {
        flex-direction: row-reverse; /* Puts the checkbox to the right of the label */
        justify-content: flex-end; /* Aligns the checkbox and label to the right */
    }

    .checkbox-group label {
        margin-right: 0; /* Removes the right margin from the label */
        margin-left: 10px; /* Adds space between label and checkbox */
    }
}
